In [6]:
import os
from functools import reduce
import pandas as pd
from datetime import datetime
from dateutil.parser import parse
#from math import log, floor
#import csv
import requests
import json
#from collections import deque
import numpy as np
#from IPython.display import HTML
%matplotlib inline
import matplotlib.pyplot as plt
from config import apikey

In [54]:
# Call congress info
version =  'v1'
response = requests.get(
    'https://api.propublica.org/congress/v1/117/senate/members.json',
    headers={'X-API-Key': apikey},
).content

data = json.loads(response)

members = data['results'][0]['members']

# For Debug only,  comment out
#for member in members:
#    print(member['last_name'], member['state'], member['party'])

membersdf = pd.DataFrame(members)
stategrpcts = membersdf.groupby(['state','party'])['party'].count()

In [74]:
states = membersdf['state'].unique()
print(len(states))

50

In [68]:
# Call covid info
version =  'v1'
response = requests.get(
    'https://data.cdc.gov/resource/9mfq-cb36.json?created_at=2020-12-09T14:45:40.234'
).content

covid_data = json.loads(response)


coviddf = pd.DataFrame(covid_data)
coviddf.head()

,submission_date,state,tot_cases,new_case,pnew_case,tot_death,new_death,pnew_death,created_at,consent_cases,consent_deaths,conf_cases,prob_cases,conf_death,prob_death
0,2020-12-08T00:00:00.000,NM,109947,0.0,0,1756,0.0,0,2020-12-09T14:45:40.234,N/A,Not agree,NaN,NaN,NaN,NaN
1,2020-12-08T00:00:00.000,NYC,348211,4567.0,1671,24411,-5.0,-8,2020-12-09T14:45:40.234,Agree,Agree,315788.0,32423,19694.0,4717
2,2020-12-08T00:00:00.000,NY,385232,5874.0,0,10440,58.0,0,2020-12-09T14:45:40.234,Not agree,Not agree,NaN,NaN,NaN,NaN
3,2020-12-08T00:00:00.000,OH,510018,25721.0,13993,7103,81.0,24,2020-12-09T14:45:40.234,Agree,Agree,470721.0,39297,6601.0,502
4,2020-12-08T00:00:00.000,AS,3,0.0,0,0,0.0,0,2020-12-09T14:45:40.234,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
coviddf.count()

submission_date    57
state              57
tot_cases          57
new_case           57
pnew_case          57
tot_death          57
new_death          57
pnew_death         57
created_at         57
consent_cases      52
consent_deaths     52
conf_cases         32
prob_cases         32
conf_death         33
prob_death         33
dtype: int64

In [78]:
covidstatesdf = coviddf[coviddf['state'].isin(states)][['state','tot_cases','tot_death']]
covidstatesdf.count()

In [80]:
covidstatesdf.head()

  state tot_cases tot_death
0    NM    109947      1756
2    NY    385232     10440
3    OH    510018      7103
5    IA    246811      2919
6    AK     36758       145